.o-recentcontentwidget .o-recentcontentwidget__element {
    margin-top: 1.25rem;
}

.o-recentcontentwidget .c-title {
    margin-right: 0.25rem;
}

.o-recentcontentwidget .c-badge {
    line-height: 1em;
}